
CW/Interpreter/.vs/Interpreter/FileContentIndex/65e1d05c-5d7d-4640-86b6-6d71586b1926.vsidx
CW/Interpreter/.vs/Interpreter/FileContentIndex/6850ba1a-be85-4a7f-ad6b-3c697c417e93.vsidx
CW/Interpreter/.vs/Interpreter/FileContentIndex/a65cff59-ba7e-439e-b675-c3c6be95b14e.vsidx
CW/Interpreter/.vs/Interpreter/FileContentIndex/c83c4dfd-4f7b-4c0a-8902-abebe57aa684.vsidx
CW/Interpreter/.vs/Interpreter/v17/.suo
CW/Interpreter/InterpreterWPF/bin/Debug/net6.0-windows/InterpreterWPF.dll
CW/Interpreter/InterpreterWPF/bin/Debug/net6.0-windows/InterpreterWPF.pdb
CW/Interpreter/InterpreterWPF/obj/Debug/net6.0-windows/InterpreterWPF.dll
CW/Interpreter/InterpreterWPF/obj/Debug/net6.0-windows/InterpreterWPF.pdb
**\.vs
**\bin
**\obj